.features {
  height: auto;
  width: 100%;
  position: relative;
  margin-bottom: 120px;
}
.features::after {
  position: absolute;
  content: "+";
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: #f15a22;
  top: 30%;
  left: 43%;
  text-align: center;
  line-height: 22px;
  color: white;
}

.features::before {
  position: absolute;
  content: "+";
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: #f15a22;
  top: 53%;
  left: 30.5%;
  text-align: center;
  line-height: 22px;
  color: white;
}

.features__01 {
  position: absolute;
  top: 25%;
  z-index: -1;
  margin-left: 20px;
}
.features__01 h1 {
  font-size: 400px;
  color: #d1ccc0;
}

.img__features {
  width: 100%;
  height: auto;
  text-align: center;
}
.img__features img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.features__heading {
  font-size: 50px;
  width: 40%;
  font-weight: bold;

  margin-top: 20px;
  margin-left: 180px;
  position: relative;
}

.features__motion {
  position: absolute;
  top: 33%;
  right: 20%;
}

.features__motion .features__box {
  background-color: white;
  color: black;
  width: 400px;
  height: 400px;
  padding: 60px;
  border-top: 6px solid #f15a22;
  position: relative;
}
.features__element h4 {
  position: relative;
  overflow: hidden;
}

.features__element h4 span {
  margin-left: 20px;
}

.features__element h4::after {
  content: "TM";
  position: absolute;
  bottom: 13px;
  left: 132px;
  color: black;
  font-size: 10px;
  font-family: "cairo";
  letter-spacing: 2px;
  font-weight: bold;
}

.features__motion .features__box::before {
  position: absolute;
  width: 25px;
  height: 25px;
  content: "+";
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f15a22;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  color: white;
  font-size: 10px;
}

.features__box p {
  font-size: 15px;
  line-height: 2;
  color: #2f3640;
  font-weight: normal;
  opacity: 0.8;
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #f15a22;
  border-color: #f15a22;
  cursor: pointer;
}

.list-group-item {
  cursor: pointer;
}

.features_last__btn {
  display: flex;
  align-items: center;
}

.features_last__btn .btn {
  border: none;
  border-radius: 0px;
  outline: none;
  box-shadow: none;
  margin-left: 10px;
  padding: 20px 30px;
}
.features_last__btn .btn-danger {
  background-color: #f15a22;
  opacity: 0.9;
}
.btn-danger i {
  margin-left: 20px;
}

.second_section_features {
  margin-top: 120px;
}

.box_features {
  position: relative;
}

.box_features i {
  font-size: 80px;
  color: #fff;
  position: absolute;
  top: -59px;
  left: -15px;
}
.box_features h4 {
  position: relative;
  z-index: 9999;
  font-weight: 600;
}

.box_features p {
  font-size: 14px;
  line-height: 2;
  color: #2f3640;
  font-weight: normal;
  opacity: 0.8;
}
