.footer {
  background-color: #000;
  opacity: 0.9;
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
  color: white;
  position: relative;
}
.footer::after {
  position: absolute;
  content: "";
  left: 30%;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: gray;
  opacity: 0.3;
}

.footer::before {
  position: absolute;
  content: "";
  left: 30%;
  top: 33%;
  width: 70%;
  height: 1px;
  background-color: gray;
  opacity: 0.3;
}

.row.alls {
  justify-content: center;
  display: flex;
}
.row .col-8 {
  padding-left: 120px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.phone {
  padding: 40px 0;
  font-weight: 400;
}
.phone span {
  color: gray;
  opacity: 0.8;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  font-weight: 400;
}
.phone p {
  font-size: 30px;
}
.email {
  padding: 40px 0;
}

.email span {
  color: gray;
  opacity: 0.8;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
}
.email p {
  font-size: 30px;
}
.list {
  padding: 40px 0;
}

.list span {
  color: gray;
  opacity: 0.8;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 20px;
  display: block;
  letter-spacing: 2px;
}
.list ul {
  display: flex;
}

.list ul li {
  margin-right: 40px;
}

.last {
  padding-left: 80px;
}

.list ul li i {
  font-size: 20px;
  color: white;
}
.join {
  padding: 40px 0px;
}

.join h3 {
  font-weight: 400;
}
.join input {
  background-color: #333;
  border: none;
  padding: 20px 10px;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 12px;
  color: white;
  outline: none;
  font-size: 12px;
}
.join input::placeholder {
  color: white;
  opacity: 0.6;
  font-size: 12px;
}
.join input:focus {
  background-color: transparent;
  outline: none;
  color: white;
}

.link {
  padding-top: 120px;
}
.link .col-6 {
  margin-bottom: 40px;
}

.link p {
  letter-spacing: 2px;
}

.link li {
  font-size: 14px;
  font-weight: 200;
  color: gray;
  opacity: 0.9;
  margin-bottom: 15px;
  cursor: pointer;
  letter-spacing: 2px;
}

.logo__evelo {
  height: 100%;
  padding: 80px 0;
}
.logo__evelo .row {
  align-items: center;
}

.logo__evelo .logo {
  font-family: "Shadows Into Light", cursive;
  font-size: 40px;
  color: white;
}
.copyright {
  font-size: 12px;
  color: gray;
  opacity: 0.8;
  display: block;
  margin-left: 20px;
}
